<%= render 'layouts/customer_header' %>
<div class="container">
	<h1 class="text-center">Site Visits</h1>

		<form class="form-search">
			<%= link_to 'New Site Visit', new_customer_site_visit_path, :class => "btn btn-primary btn-width-small pull-left" %>
			<%= link_to "<--Customer profile ", customer_path(@customer), :class => "pull-right" %><br /><br />
		</form>
	

	<table class="table table-hover">

	  	<tr>
		    <th>Sc No.</th>
		    <th>Work Completed</th>
		    <th>Date</th>
	  	</tr>
	  	
		<% @customer.site_visits.each do |c| %>
		    <tr>
		      <td><%= c.id %></td>
		      <td><%= link_to c.work_completed, edit_site_visit_path(:id => c.id) %></td>
		      <td><%= c.visit_date %></td>
		    </tr>
	    <% end %>
	</table>

</div>