
<h1 class="text-center">Create Site Visit</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@customer, @site_visit], :url =>   customer_site_visits_path(@customer, @site_visits) do |f| %>
    <%= render 'shared/error_messages', object: f.object %> 

      <%= f.label :work_completed %>
      <%= f.text_field :work_completed %>

      <%= f.label :visit_date %>
      <%= f.date_field :visit_date, placeholder: "dd/mm/yyyy" %>

      <%= f.submit "Submit Details", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>