<div class="container">
	<h1>Listing customers</h1>

	<%= form_tag customers_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
		<%= submit_tag "Search Customer", :name => nil, class: "btn" %>
		<%= link_to 'New customer', new_customer_path, :class => "btn btn-primary pull-right" %>
	<% end %>


	<table class="table table-hover">

	  	<tr>
		    <th>Customer No.</th>
		    <th>Customer Name</th>
		    <th>Company</th>
		    <th>Delete Link</th>
	  	</tr>

		<% @customer.each do |customer| %>
		    <tr>
		      <td><%= customer.id %></td>
		      <td><%= link_to customer.name, customer_path(:id => customer.id) %></td>
		      <td><%= customer.company %></td>
		      <td><%= link_to 'Delete', customer_path(:id => customer.id),
            :confirm => 'Are you sure you want to delete the customer?', :method => :delete %></td>
		    </tr>
	    <% end %>
	</table>
    <%= will_paginate @customer, renderer: BootstrapPagination::Rails %>

</div>