<% provide(:title, @customer.name) %>
<small>Customer No: <%= @customer.id %></small>
<small class="pull-right">Customer Name: <%= @customer.name %></small>


<div class="container">
  <h1 id="pull">Customer Profile</h1>
  <div class="centerize">
    <div class="ex"></br>
      <%= link_to "Quotation", "#", class: "btn btn-primary btn-width" %></br></br>
      <%= link_to "Invoice", edit_work_order_path, class: "btn btn-primary btn-width" %></br></br>
      <%= link_to "Work Schedule", customer_work_schedules_path(@customer, @work_schedules), class: "btn btn-primary btn-width" %></br></br>      
      <%= link_to "Drawing Report", customer_drawing_reports_path(@customer, @drawing_reports), class: "btn btn-primary btn-width" %></br></br>
      <%= link_to "Site visits", customer_site_visits_path(@customer, @site_visits), class: "btn btn-primary btn-width" %></br></br>
      <%= link_to "Payment Schedule", customer_payment_schedules_path(@customer, @payment_schedules), class: "btn btn-primary btn-width" %></br></br>
    </div>
    </br>
    <%= link_to "Download Overall PDF", "#", class: "btn btn-large btn-primary btn-width-big" %>
  </div>
</div>

