<%= render 'layouts/customer_header' %>
<div class="container">
	<h1 class="text-center">Listing Drawing Reports</h1>

		<form class="form-search">
			<%= link_to 'New Drawing Report', new_customer_drawing_report_path, :class => "btn btn-primary btn-width pull-left" %>
			<%= link_to "<--Customer profile ", customer_path(@customer), :class => "pull-right" %><br /><br />
		</form>
	

	<table class="table table-hover">

	  	<tr>
		    <th>Drawing No.</th>
		    <th>Rev. No.</th>
		    <th>List of Drawing</th>
		    <th>Issue Drawing</th>
		    <th>Copy</th>
		    <th>Date</th>
	  	</tr>
	  	
		<% @customer.drawing_reports.each do |c| %>
		    <tr>
		      <td><%= c.id %></td>
		      <td><%= c.revision_no %></td>
		      <td><%= link_to c.list_of_drawing, edit_drawing_report_path(:id => c.id) %></td>
		      <td><%= c.issue_drawing %></td>
		      <td><%= c.copy %></td>
		      <td><%= c.date_completed %></td>
		    </tr>
	    <% end %>
	</table>

</div>