<h1 class="text-center">Create New Task</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@customer, @work_schedule], :url => work_schedule_path do |f| %>
    <%= render 'shared/error_messages', object: f.object %> 

      <%= f.label :task_work %>
      <%= f.text_field :task_work %>

      <%= f.label :duration %>
      <%= f.text_field :duration %>

      <%= f.label :start_date %>
      <%= f.date_field :start_date, placeholder: "dd/mm/yyyy" %>

      <%= f.label :finish_date %>
      <%= f.date_field :finish_date, placeholder: "dd/mm/yyyy" %>

      <%= link_to "Cancel", customer_work_schedules_path(@work_schedule.customer_id), class: "btn btn-large btn-primary btn-width-small" %>
      <%= f.submit "Submit Details", class: "btn btn-large btn-primary btn-width-small pull-right" %>
    <% end %>
  </div>
</div>