<%= render 'layouts/customer_header' %>
<h1 class="text-center">Invoice details</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@customer, @customer.work_order], :url =>   work_order_path(@customer) do |f| %>
    <%= render 'shared/error_messages', object: f.object %> 
   
      <%= f.label :area %>
      <%= f.text_field :area %>

      <%= f.label :payment_type %>
      <%= f.select  :payment_type, options_for_select(['Lumsum', 'Rate Per Square ft', 'Percentage']) %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= link_to "Cancel", customer_path, class: "btn btn-large btn-primary btn-width-small" %>
      <%= f.submit "Submit Details", class: "btn btn-large btn-primary btn-width-small pull-right" %>
    <% end %>
  </div>
</div>