<%= render 'layouts/customer_header' %>
<h1 class="text-center">New Payment</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [@customer, @payment_schedule], validate: true, :url =>   customer_payment_schedules_path(@customer, @payment_schedules) do |f| %>

      <%= f.label :status, "Status:" %>
      <%= f.select :status, options_for_select(['Advance', '1st Installment', '2nd Installment', '3rd Installment', '4th Installment', '5th Installment', '6th Installment']) %>

      <%= f.label :amount, "Amount:" %>
      <%= f.text_field :amount %>

      <%= f.label :payment_date, "Payment Date:" %>
      <%= f.date_field :payment_date, placeholder: "dd/mm/yyyy" %>

      <%= link_to "Cancel", customer_payment_schedules_path(@customer), class: "btn btn-large btn-primary btn-width-small" %>
      <%= f.submit "Submit Details", class: "btn btn-large btn-primary btn-width-small pull-right" %>
    <% end %>
  </div>
</div>